.container_link_rdv{
    text-align: center;
}

.redirection_rdv_btn{
    width: 70%;
    color: #fff;
    background-color: #005eb6;
    border: 2px solid #005eb6;
    border-radius: 5px;
    transition: all 0.5s ease;
    padding: 10px;
    margin-bottom: 3%;
    margin: 1%;
}

.redirection_rdv_btn:hover{
    color: #fff;
    background-color: #AF7981;
    border: 2px solid #7C4C53;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.redirect_link_rdv{
    width: 65%;
    padding-right: 0;
}

.redirection_rdv_btn{
    width: 65%;
}

.titre_rdv_tableau{
    border: 2px solid;
    text-align: center;
    padding: 1% 2%;
    text-decoration: underline;
}

#tableau_rdv_precedents{
    margin-top: 5%;
    width: 80%;
}

.form_rdv_envoi_container{
    width: 50%;
}

.heure_dispo{
    margin: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heure_dispo:hover{
    background-position: 10%;
    background-color: #005eb6;
    color: #fff;
    border-radius: 10px;
}

.heure_dispo label{
    padding-top: 0;
    width: 15%;
    margin-left: -15%;
}


.heure_radio{
    width: 50%;
}

.tableau_container{
    display: flex;
    justify-content: center;
    width: 100%;
}

th, td{
    text-align: center;
    border-bottom: 2px solid;
    padding: 1%;
}

.tel_horizontal{
    display: none
}

.premiere_colonne{
    border-left: 2px solid;
}

.derniere_colonne{
    border-right: 2px solid;
}

.del_rdv_btn{
    background-color: #005eb6;
    border-radius: 10px;
    color: #fff;
}

.del_rdv_btn:hover{
    background-color: #fff;
    border-radius: 10px;
    color: #005eb6;
    transition: all 0.2s ease-in-out;
}

.btn_choix_jour{
    width: 25%;
    background-color: #005eb6;
    border-radius: 10px;
    color: #fff;
    margin: 0.2%;
}

.btn_choix_jour:hover{
    background-color: #fff;
    border-radius: 10px;
    color: #005eb6;
    transition: all 0.2s ease-in-out;
}

.btn_select_houres{
    width: 25%;
    background-color: #005eb6;
    border-radius: 10px;
    color: #fff;
    margin: 0.2%;
}

.btn_select_houres:hover{
    background-color: #fff;
    border-radius: 10px;
    color: #005eb6;
    transition: all 0.2s ease-in-out;
}

.btn_envoyer_indispo{
    width: 25%;
    background-color: #005eb6;
    border-radius: 10px;
    color: #fff;
    margin: 0.2%;
    margin-top: 20px;
}

.btn_envoyer_indispo:hover{
    background-color: transparent;
    transition: all 0.2s ease-in-out;
    color: black;
}

@media only screen and (max-width: 840px){
    .tel_horizontal{
        display: flex;
    }
}