.footer{
    display: block;
    margin-top: 1rem;
    padding: 1rem;
    background-color: #005eb6;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
}

.partie_footer{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
    color: #fff;
    border-right: solid 5px #0385ff;
    border-left: solid 5px #0385ff;
    width: 50%;
}

.item_footer a{
    text-decoration: none;
    color: inherit;
}

.item_footer a:hover{
    text-decoration: none;
    color: inherit;
}

.partie_footer h2{
    text-decoration: underline;
}

@media only screen and (max-width:840px){
    .footer{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
}