.redirect_link_rdv{
    width: 100%
}

.redirection_rdv_btn{
    width: 100%;
    border-color: #005eb6;
    background-color: #005eb6;
}

.redirection_rdv_btn:hover{
    width: 100%;
    border-color: #1688f1;
    background-color: #1688f1;
}

.message_specific_sender{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
}

.message_container{
    border: 2px #1F2020 solid;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin: 10px;
    flex: 1 0 47%;
}

.supprimer_msg{
    cursor: pointer;
    margin-right: 10%;
}

.rep_msg{
    cursor: pointer;
}

.btn_auteur{
    width: 50%;
    margin: 0.2%;
    border-radius: 10px;
    background-color: #1688f1;
    color: #fff;
}

.btn_auteur:hover{
    background-color: transparent;
    transition: all 0.2s ease-in-out;
    color: black;
}

.btn_container{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message_container{
    text-align: center;
    width: 300px
}

label{
    text-decoration: underline;
}

#auteur:hover{
    cursor: not-allowed;
}

#contenuMessage{
    border-radius: 10px;
}

#destinaire:hover{
    cursor: not-allowed;
}

.messageContent{
    width: 20rem;
    border: solid 2px #1688f1;
    padding: 1%;
    margin: 1%;
    text-align: center;
    font-size: 18px;
}