.App{
    display: flex;
    padding-top: 50px;
    align-items: center;
    background-color: #fff;
}

h1{
    text-align: center;
}

.login-container{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 75%;
    border: 3px solid #005eb6;
    padding: 5% 10% 5% 10%;
    border-radius: 25%;
}

label{
    padding-top: 10px;
    height: 20px;
}

input{
    border-radius: 5px;
}

.btn_co_re{
    margin-top: 10px;
    margin-bottom: 15px;
    color: white;
    background-color: #1F2020;
    border-radius: 5px;
    height: 40px;
    width: 50%;
}

.btn_co_re:hover{
    color: 'white';
    background-color: #005eb6;
    transition: all 0.2s ease-in-out;
    border: #005eb6;
}

.login_failed{
    font-size: 18px;
    text-decoration: underline;
    color: red;
}


@media only screen and (max-width:840px){
    .login-container{
        border-radius: 10px;
    }
}